<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Expressions and interpollations</title>
    <script type="text/javascript" src="angular.min.js"></script>
    <script src="app.js" charset="utf-8"></script>
  </head>
  <body ng-app="counterApp">
    <h1>Expressions and interpollations</h1>
    <div ng-controller="counterCtrl">
      <div class="">
        <button ng-click="showNoOfWatchers()">log # of watchers</button>
        <button ng-click="upCounter()">log # of watchers</button>

    </div>
    {{counter}}

  </body>
</html>
