<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>shopping List</title>
    <script type="text/javascript" src="angular.min.js"></script>
    <script src="app.js" charset="utf-8"></script>
  </head>
  <body ng-app="shoppingListApp">
    <h1>shopping List : </h1>
    <div ng-controller="shoppingListCtrl">
      <div class="">
        <!-- <ul>
          <li ng-repeat="item in shoppingList1">{{item}}</li>
        </ul> -->
        <!-- <ul>
          <li ng-repeat="item in shoppingList2"> Buy {{item.quantity}}
            of {{item.name}}</li>
        </ul> -->
        <input type="text" name="" value="" ng-model="search">
        <ul>
          <li ng-repeat="item in shoppingList2 | filter : search"> {{$index + 1}}. Buy {{item.quantity}}
            of {{item.name}}</li>
        </ul>
        <input type="text" name="" value="" ng-model="newItem" placeholder="Item name">
        <input type="text" name="" value="" ng-model="newQuantity" placeholder="Item Quantity">
        <button type="button" name="button" ng-click="addItem()">add Item</button>
    </div>
  </body>
</html>
